@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Civitech Sampriti<br />
    Sector 77, Noida 201301<br />
    <abbr title="Phone">P:</abbr>
    888.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@civitech.com">Support@civitech.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@civitech.com">Marketing@civitech.com</a>
</address>