@model IEnumerable<MyInventory.Models.Notification>


<a href="/Notifications" id="navbarDropdownMenuLink" class="dropdown-toggle" data-toggle="dropdown">
    <i class="material-icons">notifications</i>
    <span class="notification" style="left:65px;right:85px;">@Model.Count()</span>
    <p >
        Notifications
        <b class="caret"></b>
    </p>
</a>
<ul class="dropdown-menu">
    <li>
        <a href="#">Mike John responded to your email</a>
    </li>
    @foreach (var item in Model)
    {
    <li>
        <a href="/Notifications/Details/@item.Notification_ID">@item.Notification1</a>
    </li>
    }
    </ul>
